.App {
  display: flex;
}
h1{
  font-size: 50px;
  text-align: center;
}
.inputCard {
  display: flex;
  justify-content: center;
}

.inputCard input {
  margin-right: 10px;
}

.column {
  border:1px black solid;
  flex-grow: 1;
  margin: 25px;
}

.card {
  padding: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.card span{
  flex-grow: 1;
}

h2{
  text-align: center;
}

